//FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');


//VARIABLES
$bg-footer:#505050;
$primary : #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$cd-bars: #15DEA5;
$bg-indexcard:#ebe1fa;
$size: 3vh;
$anim-dur: 1000ms;
$lighten:linear-gradient(158deg, #ff79da 0%, #9356dc 100%);


//LES LIENS
a{
    color:black;
    cursor: pointer;
}
//RESTAURANT HEADER
#restaurantHeader {
    display: flex;
    align-items: center;
    padding: 0 1em;
    .headerTitlerestaurants {
        margin: auto;
        font-family: 'Shrikhand', cursive;
    }
}

// BODY FONT
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

// INDEX BUTTON
.button {
    color:white;
    font-weight: bold;
    border: none;
    max-width: 400px;
    border-radius: 1.5em;
    cursor: pointer;
    margin: 0 2em;
    padding: 1em;
    background: linear-gradient(158deg,rgba(255,121,218,1) 0%,rgba(147,86,220,1) 79%);
    box-shadow: 0px 2px 10px 0px #7d7d7d;
    -webkit-box-shadow: 0px 2px 10px 0px #7d7d7d;
    -moz-box-shadow: 0px 2px 10px 0px #7d7d7d;
    &:hover {
        transition-duration: 400ms;
        transform:  scale(1.2);
        background: linear-gradient(158deg, lighten(rgba(255,121,218,1), 5%) 0%,lighten(rgba(147,86,220,1), 5%) 79%);
        box-shadow: 0px 2px 10px 0px #525252;
        -webkit-box-shadow: 0px 2px 10px 0px #525252;
        -moz-box-shadow: 0px 2px 10px 0px #525252;
    }
}

// RESTAURANT BUTTON
.orderButton {
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 1.5em;
    margin: 0 2em;
    padding: 1em 2em;
    background: linear-gradient(158deg,rgba(255,121,218,1) 0%,rgba(147,86,220,1) 79%);
    box-shadow: 0px 2px 10px 0px #7d7d7d;
    -webkit-box-shadow: 0px 2px 10px 0px #7d7d7d;
    -moz-box-shadow: 0px 2px 10px 0px #7d7d7d;
    &:hover {
        transition-duration: 400ms;
        transform:  scale(1.2);
        background: linear-gradient(158deg, lighten(rgba(255,121,218,1), 5%) 0%,lighten(rgba(147,86,220,1), 5%) 79%);
        box-shadow: 0px 2px 10px 0px #525252;
        -webkit-box-shadow: 0px 2px 10px 0px #525252;
        -moz-box-shadow: 0px 2px 10px 0px #525252;
    }
}


// FOOTER
footer {
    background-color: $bg-footer;
    padding: 1em;
    .footer_title {
        padding: 0  0 0 2em;
        color: white;
        font-family: 'Shrikhand', cursive;
    }
    .footer_container {
        color: white;
        ul {
            padding: 0;
            text-decoration: none;
            list-style: none;
            li{
                padding: 0 0 0 2em;
                line-height: 1.5em;
                height: auto;
                i {
                    padding-right: 5px;
                }
                a {
                    color: white;
                }
            }
        }
    }
}

//IMG BG MENU
.bgimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//IMG INDEX
.indexImg {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

//APPARITION PROGRESSIVE-FADEIN/SLIDE
.mealCard:nth-child(1) {
    animation: FadeIn 1s cubic-bezier(.39,.575,.565,1.000) .5s both;
}
.mealCard:nth-child(2) {
    animation: FadeIn 1s cubic-bezier(.39,.575,.565,1.000) 1s both;
}
.mealCard:nth-child(3) {
    animation: FadeIn 1s cubic-bezier(.39,.575,.565,1.000) 1.5s both;
}

@keyframes FadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

/*Loading spinner*/

// Page blanche lors du loader
@keyframes body {
    0% {    
        opacity: 0;
    }
    100% { 
        transform: rotate(360deg);
        opacity: 0;
    }
}
.home {
            
    animation: body 2s linear;
    -webkit-animation: body 2s linear;
    -o-animation: body 2s linear;
 }
 /* Loading... */

        
.load {

    display: flex;
    justify-content: center;
    align-content: center;
}

.loader {
                
    border: 12px solid #FF79DA;
    border-top: 12px solid #9356DC ;
    border-bottom: 12px solid #9356DC;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: auto; // centrage
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    animation: loading 2.5s linear 1; // Name Keyframe Duration 
    -webkit-animation:  loading 2.5s linear 1;
    -o-animation: loading 2.5s linear 1;
    animation-fill-mode: forwards;
    transition: transform 3s;
}
              
    
    @keyframes loading {
        0% { 
            transform: rotate(0deg); 
            opacity: 1;
        }
        100%{ 
            transform: rotate(360deg);
            opacity: 0;
        }
    }