


@media screen and (max-width:768px) {
    body {
        margin: 0 !important;
    }
    // NOM RESTAURANT ET COEUR
    .containerTitle {
        display: flex;
        align-items: center;
        font-family: 'Shrikhand', cursive;
        padding-top: 1.5em;
        .titleRestaurant{
            font-size: 1.2em;
            padding-left: 1em;
            width: 100%;
        }
        .titleHeart {
          display: flex;
          align-items: center;
          font-size: 2em;
          padding-right: 2em;
          i{
              position: absolute;
          }
          .full_heart{
              opacity: 0;
          }
      }
      .titleHeart:hover {
          animation: all;
          .far{
              opacity: 0.5;
          }
          .full_heart{
              transition: 0.8s;
              opacity: 1;
              background: linear-gradient(158deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
          }
      }
    }
    
    .containermealCard{
        .titlemenuList {
          text-transform: uppercase;
          padding: 1em 0 .5em 1em;
          line-height: 0;
          position: relative;
        }
        .titlemenuList::after {
            content: "";
            width: 3rem;
            height: .25rem;
            background-color: #99e2d0;
            position: absolute;
            left: 10;
            bottom: 5;
        } 
    }
}

@media screen and (min-width:768px) {
    body {
        margin: 0 !important;
    }
    .bgimgRestaurant {
        height: 500px;
        object-fit: cover;
    }
    #bg_radius-resto {
        background-color: #f2f2f2;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        position: relative;
        margin: -5rem 15% 0 15%;
    }
    .containerTitle {
        display: flex;
        align-items: center;
        font-family: 'Shrikhand', cursive;
        padding-top: 1.5em;
        .titleRestaurant{
            font-size: 1.5em;
            padding-left: 1em;
            width: 100%;
        }
        .titleHeart {
          display: flex;
          align-items: center;
          font-size: 2em;
          padding-right: 2em;
          i{
              position: absolute;
          }
          .full_heart{
              opacity: 0;
          }
      }
      .titleHeart:hover {
          animation: all;
          .far{
              opacity: 0.5;
          }
          .full_heart{
              transition: 0.8s;
              opacity: 1;
              background: linear-gradient(158deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
          }
      }
    }
    
    .containermealCard{
        .titlemenuList {
          text-transform: uppercase;
          font-weight: normal;
          font-size: 1.5em;
          padding: 1em 0 .5em 1em;
          line-height: 0;
          position: relative;
        }
        .titlemenuList::after {
            content: "";
            width: 3rem;
            height: .25rem;
            background-color: #99e2d0;
            position: absolute;
            left: 26px;
            bottom: 13px;
        } 
    }

}

@media screen and (min-width:1024px) {
    body {
        margin: 0 !important;
    }
    .bgimgRestaurant {
        height: 500px;
        object-fit: cover;
    }
    #bg_radius-resto {
        background-color: #f2f2f2;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        position: relative;
        margin: -5rem 15% 0 15%;
    }
    .containerTitle {
        display: flex;
        align-items: center;
        font-family: 'Shrikhand', cursive;
        padding-top: 2.5em;
        .titleRestaurant{
            font-size: 1.5em;
            padding-left: 1em;
            width: 100%;
        }
        .titleHeart {
          display: flex;
          align-items: center;
          font-size: 2em;
          padding-right: 2em;
          i{
              position: absolute;
          }
          .full_heart{
              opacity: 0;
          }
      }
      .titleHeart:hover {
          animation: all;
          .far{
              opacity: 0.5;
          }
          .full_heart{
              transition: 0.8s;
              opacity: 1;
              background: linear-gradient(158deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
          }
      }
    }
    .containermealCard{
        display:flex;
        flex-direction: column;
        align-items: center;
        .titlemenuList {
          text-transform: uppercase;
          font-weight: normal;
          font-size: 2em;
          padding: 1em 0 .5em 1em;
          line-height: 0;
          position: relative;
        }
        .titlemenuList::after {
            content: "";
            width: 45%;
            height: .25rem;
            background-color: #99e2d0;
            position: absolute;
            left: 35px;
            bottom: 20px;
        } 
    }

}


