


//variables

@media screen and (max-width:768px) {
    .bgimg {
        width: 100%;

    }
    #bg_radius-resto {
        background-color: #f2f2f2;
        border-radius: 2rem 2rem 0 0 ;
        padding-bottom: 1em;
        margin-top: -2em;
        position: relative;
    }
    .title {
        display: flex;
        padding: 1em 2em 0 2em;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand', cursive;
        .titleRestaurant {
            font-size: .6em;
        }
        .titleHeart {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i{
            position: absolute;
        }
        .full_heart{
            opacity: 0;
        }
        .titleHeart:hover {
            animation: all;
            .far{
                opacity: 0.5;
            }
            .full_heart{
                transition: 0.8s;
                opacity: 1;
                background: linear-gradient(158deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
    }
    .titlemenuList {
        text-transform: uppercase;
        padding: 1em 0 0 2em;
        line-height: 0;
        opacity: 1;
    }
    .title_menu_underline {
        display: flex;
            border-top: 4px solid #99E2D0;
            width: 3em;
    }
    .containerMeal {
        .mealCard {
            display: flex;
            margin: 1em;
            line-height: 0;
            background-color: white;
            border-radius: 1em;
            font-size: .7em;
            height: 3.5rem;
            max-width: 100%;
            overflow: hidden;
            .titleCard {
                row-gap: 1em;
                width: 80%;
                padding: 2em 0 0 1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
           .priceCard {
            padding:2em;
            width: 20%;
            font-weight: bold;
           }
           .menu_icon {
            background-color: $tertiary;
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            height: 3.5rem;
            width: 3.5em;
            margin: 0 -3em 0 0;
        }
           &:hover {
                .menu_icon {
                
            transition-duration: 500ms;
                margin: 0 0 0 0;
            }
            i {
                transform: rotate(-360deg);
                transition-duration: 1000ms;
            }
            
            }
    }
    
    }
    .order {
        display: flex;
        justify-content: center;
    }
}