
@import "_normalize.scss";
@import "_base.scss";
@import "_menu.scss";




@media screen and (max-width:768px) {
    #indexHeader{
        #indexTitle {
            display: flex;
            justify-content: center;
            font-family: 'Shrikhand', cursive;
            margin: auto;
            height:1.5em;
            padding-top: .5em;
    }
    }
    #indexNavigation {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #f6f6f6;
        padding-bottom: 1em;
        #indexLocation{
            border-top:3px solid #dbdbdb;;
            background-color: #ebebeb;
            padding: 10px 0;
            #location  {
                background-color: inherit;
                border: none;
                width: 130px;
                &::placeholder{
                    color:black;
                    font-weight: bold;
                } 
                &:focus{
                    outline: none;
                }
            }
        }
        #hook {
            display: flex;
            flex-direction: column;
        }
        .button {
            color:white;
            font-weight: bold;
            border: none;
            border-radius: 1.5em;
            margin: 2em;
            padding: 1em;
            background: rgb(255,121,218);
            background: linear-gradient(185deg, rgba(255,121,218,1) 0%, rgba(159,106,214,1) 84%, rgba(147,86,220,1) 100%);
        }
    }
    #indexOperation {
        .operation_title {
            padding: 0 1em;
        }
        .operation_container{
            padding: 0;
            .operation_thumbnail {
                display: flex;
                background-color: #f6f6f6;
                margin: 1em;
                padding: 1em;
                border-radius: 1.3em;
                align-items: center;
                cursor: pointer;
                font-weight: bold;
                .number {
                    background-color: $primary;
                    color: #fff;
                    width: 1.6rem;
                    height: 1.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: -1.5rem;
                    margin-right: 0.8rem;
                    font-size: 1.2rem;
                }
                i {
                    padding-right: 1rem;
                    color: #747474;
                }
                &:hover {
                    i{
                        color: #9356DC;
                    }
                }
            }
        }
    }
    .restaurant_title{
        padding-left: 1em;
    }
    .restaurant_container {
        display:flex;
        flex-flow: column;
        a{
            display: flex;
            flex-direction: column;
            margin: 1em 1em;
            box-shadow: 3px 8px 8px #dedada;
            min-height: 300px;
            max-height: 390px;
            border-radius: 1em;
            @media screen and (max-width:375px){
                max-height: 260px;
                min-height: 190px;
            }
            .cardNew{
                position: absolute;
                right: 40px;
                color: #1b6150;
                background-color: #99e2d0;
                padding: 0.5em;
                font-size: 1.2em;
            }
            .imgrestoindex{
                min-height: inherit;
                max-height: inherit;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                overflow: hidden;
                .indexImg {     
                    min-height: 300px;
                    max-height: 300px;
                    @media screen and (max-width:375px){
                        min-height: 230px;
                        max-height: 200px;
                    }
                }
            }
            .descriptionCard {
                display: flex;
                .cardContent {
                    width: 80%;
                    padding: 1em;
                    line-height: 0;
                }
                .cardHeart{
                    display: flex;
                    width:20%;
                    position: relative;
                    font-size: 2em;
                }
                i{
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(-50%, -50%);
                }
                .full_heart{
                    opacity: 0;
                }
                .cardHeart:hover{
                    animation: all;
                    .far{
                        opacity: 0.5;
                    }
                    .full_heart{
                        transition: 0.8s;
                        opacity: 1;
                        background: linear-gradient(158deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1024px) {
    body {
        margin:0 2em !important; 
    }
    #indexHeader{
        #indexTitle {
            display: flex;
            justify-content: center;
            font-family: 'Shrikhand', cursive;
            margin: auto;
            height:1.5em;
            padding-top: .5em;
        }
    }
    
    #indexNavigation {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #f6f6f6;
        padding-bottom: 1em;
        font-size: 1.5em;
        #indexLocation{
            border-top:3px solid #dbdbdb;;
            background-color: #ebebeb;
            padding: 10px 0;
            #location  {
                background-color: inherit;
                border: none;
                width: 190px;
                &::placeholder{
                    color:black;
                    font-weight: bold;
                } 
                &:focus{
                    outline: none;
                }
            }
        }
        .indexButton {
            padding: 1em;
        }
    }
    #indexOperation {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        margin: 2em 0;
        font-size: 1.4em;
        .operation_title {
            font-size: 2em;
            margin: auto;
        }
    }
    .operation_container{
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 2em;
        .operation_thumbnail {
            display: flex;
            background-color: #f6f6f6;
            padding: 3em;
            border-radius: 1.3em;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            .number {
                background-color: $primary;
                color: #fff;
                width: 1.6rem;
                height: 1.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-left: -1.5rem;
                margin-right: 0.8rem;
                font-size: 1.2rem;
            }
            i {
                padding-right: 1rem;
                color: #747474;
            }
            &:hover {
                background-color: #ebe1fa;
                i{
                    color: #9356DC;
                }
            }
        }
    }    
    #indexRestaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 25em;
        .restaurant_title {
            font-size: 3em;
        }
    }
    //INDEX CARD
    .restaurant_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        a{
            width: 500px;
            max-height: 440px;
            min-height: 440px;
            margin: 2em;
            position: relative;
            border-radius: 30px;
            box-shadow: 3px 8px 8px #dedada;
            .cardNew {
                position: absolute;
                color: #217460;
                background-color: #99e2d0;
                left: 387px;
                font-size: 1.5em;
                padding: 0.3em;
            }
            .imgrestoindex{
                max-width: 500px;
                max-height: 330px;
                min-width: 500px;
                min-height: 330px;
                overflow: hidden;
                margin: 0;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                img {
                    max-width:100%;
                    max-height:100%;
                    border-radius: inherit;
                    object-fit: cover;
                }
            }
            .descriptionCard{
                font-size: 1.5em;
                display: grid;
                grid-template-columns: 80% 20%;
                line-height: 0;
                padding: .5em 1em;
                .cardHeart {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    position: relative;
                    font-size: 2em;
                }
                
                i{
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                .full_heart{
                    opacity: 0;
                }
                .cardHeart:hover{
                    animation: all;
                    .far{
                        opacity: 0.5;
                    }
                    .full_heart{
                        transition: 0.8s;
                        opacity: 1;
                        background: linear-gradient(158deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                    }
                }
            }
        }
    }
}