@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

a {
  text-decoration: none;
  list-style: none;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
}

#restaurantHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurantHeader .headerTitlerestaurants {
  margin: auto;
  font-family: 'Shrikhand', cursive;
}

#restaurantHeader .returnHome {
  padding-left: 1em;
}

.bgimgRestaurant img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#bg_radius-resto {
  margin-top: -4em;
  background-color: #f2f2f2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
}

.indexImg {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  color: white;
  font-weight: bold;
  border: none;
  max-width: 400px;
  border-radius: 1.5em;
  cursor: pointer;
  margin: 0 2em;
  padding: 1em;
  background: linear-gradient(158deg, #ff79da 0%, #9356dc 79%);
  box-shadow: 0px 2px 10px 0px #7d7d7d;
  -webkit-box-shadow: 0px 2px 10px 0px #7d7d7d;
  -moz-box-shadow: 0px 2px 10px 0px #7d7d7d;
}

.button:hover {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: linear-gradient(158deg, #ff93e1 0%, #a16be0 79%);
  box-shadow: 0px 2px 10px 0px #525252;
  -webkit-box-shadow: 0px 2px 10px 0px #525252;
  -moz-box-shadow: 0px 2px 10px 0px #525252;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

.orderButton {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1.5em;
  margin: 0 2em;
  padding: 1em 2em;
  background: linear-gradient(158deg, #ff79da 0%, #9356dc 79%);
  box-shadow: 0px 2px 10px 0px #7d7d7d;
  -webkit-box-shadow: 0px 2px 10px 0px #7d7d7d;
  -moz-box-shadow: 0px 2px 10px 0px #7d7d7d;
}

@media screen and (min-width: 1024px) {
  .orderButton {
    font-size: 1.5em;
  }
}

.orderButton:hover {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: linear-gradient(158deg, #ff93e1 0%, #a16be0 79%);
  box-shadow: 0px 2px 10px 0px #525252;
  -webkit-box-shadow: 0px 2px 10px 0px #525252;
  -moz-box-shadow: 0px 2px 10px 0px #525252;
}

@media screen and (min-width: 1024px) {
  header {
    font-size: 1.5em;
  }
}

footer {
  background-color: #505050;
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  footer {
    font-size: 1.5em;
  }
}

footer .footer_title {
  padding: 0  0 0 2em;
  color: white;
  font-family: 'Shrikhand', cursive;
}

footer .footer_container {
  color: white;
}

footer .footer_container ul {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

footer .footer_container ul li {
  padding: 0 0 0 2em;
  line-height: 1.5em;
  height: auto;
}

footer .footer_container ul li i {
  padding-right: 5px;
}

footer .footer_container ul li a {
  color: white;
}

.dish__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 0.5rem;
  margin: 1em;
  max-height: 80px;
  overflow: hidden;
  background: white;
  border-radius: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .dish__card {
    font-size: 1.5em;
    min-width: 650px;
    max-width: 650px;
    min-height: 150px;
    max-height: 150px;
  }
}

.dish__card:hover .dish__check {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .dish__card:hover .dish__check {
    margin: 0;
  }
}

.dish__card:hover i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.dish__card .dish__card__name {
  line-height: 0.7;
  padding: 0.5em 1em;
  width: 300px;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .dish__card .dish__card__name {
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  .dish__card .dish__card__name {
    width: 150px;
  }
}

.dish__card .dish__card__price {
  font-weight: bold;
  padding-top: 1.5em;
}

.dish__card .dish__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 80px;
  max-width: 80px;
  height: 85px;
  background-color: #99e2d0;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-right: -3.4em;
}

@media screen and (min-width: 320px) {
  .dish__card .dish__check {
    min-width: 50px;
  }
}

@media screen and (max-width: 320px) {
  .dish__card .dish__check {
    min-width: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .dish__card .dish__check {
    min-height: 150px;
    max-height: 150px;
    min-width: 80px;
  }
}

div.dish__card__name p {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0.5em;
  overflow: hidden;
}

.dish__card:nth-child(1) {
  -webkit-animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
          animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.dish__card:nth-child(2) {
  -webkit-animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
          animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.dish__card:nth-child(3) {
  -webkit-animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
          animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

.dish__card:nth-child(4) {
  -webkit-animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
          animation: FadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*Loading spinner*/
@-webkit-keyframes body {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes body {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.home {
  animation: body 2s linear;
  -webkit-animation: body 2s linear;
  -o-animation: body 2s linear;
}

/* Loading... */
.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.loader {
  border: 12px solid #FF79DA;
  border-top: 12px solid #9356DC;
  border-bottom: 12px solid #9356DC;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  animation: loading 2.5s linear 1;
  -webkit-animation: loading 2.5s linear 1;
  -o-animation: loading 2.5s linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.dish__card__name p:first-child {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 !important;
  }
  .containerTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Shrikhand', cursive;
    padding-top: 1.5em;
  }
  .containerTitle .titleRestaurant {
    font-size: 1.2em;
    padding-left: 1em;
    width: 100%;
  }
  .containerTitle .titleHeart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    padding-right: 2em;
  }
  .containerTitle .titleHeart i {
    position: absolute;
  }
  .containerTitle .titleHeart .full_heart {
    opacity: 0;
  }
  .containerTitle .titleHeart:hover {
    -webkit-animation: all;
            animation: all;
  }
  .containerTitle .titleHeart:hover .far {
    opacity: 0.5;
  }
  .containerTitle .titleHeart:hover .full_heart {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 1;
    background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .containermealCard .titlemenuList {
    text-transform: uppercase;
    padding: 1em 0 .5em 1em;
    line-height: 0;
  }
  .containermealCard .titlemenuList .title_menu_underline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 4px solid #99E2D0;
    width: 3.5em;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 !important;
  }
  .bgimgRestaurant {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #bg_radius-resto {
    background-color: #f2f2f2;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    position: relative;
    margin: -5rem 15% 0 15%;
  }
  .containerTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Shrikhand', cursive;
    padding-top: 1.5em;
  }
  .containerTitle .titleRestaurant {
    font-size: 1.5em;
    padding-left: 1em;
    width: 100%;
  }
  .containerTitle .titleHeart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    padding-right: 2em;
  }
  .containerTitle .titleHeart i {
    position: absolute;
  }
  .containerTitle .titleHeart .full_heart {
    opacity: 0;
  }
  .containerTitle .titleHeart:hover {
    -webkit-animation: all;
            animation: all;
  }
  .containerTitle .titleHeart:hover .far {
    opacity: 0.5;
  }
  .containerTitle .titleHeart:hover .full_heart {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 1;
    background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .containermealCard .titlemenuList {
    text-transform: uppercase;
    padding: 1em 0 .5em 1em;
    line-height: 0;
  }
  .containermealCard .titlemenuList .title_menu_underline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 4px solid #99E2D0;
    width: 3.5em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 !important;
  }
  .bgimgRestaurant {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #bg_radius-resto {
    background-color: #f2f2f2;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    position: relative;
    margin: -5rem 15% 0 15%;
  }
  .containerTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Shrikhand', cursive;
    padding-top: 1.5em;
  }
  .containerTitle .titleRestaurant {
    font-size: 1.5em;
    padding-left: 1em;
    width: 100%;
  }
  .containerTitle .titleHeart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    padding-right: 2em;
  }
  .containerTitle .titleHeart i {
    position: absolute;
  }
  .containerTitle .titleHeart .full_heart {
    opacity: 0;
  }
  .containerTitle .titleHeart:hover {
    -webkit-animation: all;
            animation: all;
  }
  .containerTitle .titleHeart:hover .far {
    opacity: 0.5;
  }
  .containerTitle .titleHeart:hover .full_heart {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 1;
    background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .containermealCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containermealCard .titlemenuList {
    text-transform: uppercase;
    padding: 1em 0 .5em 1em;
    line-height: 0;
    margin: auto;
    font-size: 1.5em;
  }
  .containermealCard .titlemenuList .title_menu_underline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 4px solid #99E2D0;
    width: 3.5em;
  }
}

@media screen and (max-width: 768px) {
  #indexHeader #indexTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Shrikhand', cursive;
    margin: auto;
    height: 1.5em;
    padding-top: .5em;
  }
  #indexNavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 1em;
  }
  #indexNavigation #indexLocation {
    border-top: 3px solid #dbdbdb;
    background-color: #ebebeb;
    padding: 10px 0;
  }
  #indexNavigation #indexLocation #location {
    background-color: inherit;
    border: none;
    width: 130px;
  }
  #indexNavigation #indexLocation #location::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location:-ms-input-placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location::-ms-input-placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location::placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location:focus {
    outline: none;
  }
  #indexNavigation #hook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #indexNavigation .button {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5em;
    margin: 2em;
    padding: 1em;
    background: #ff79da;
    background: linear-gradient(185deg, #ff79da 0%, #9f6ad6 84%, #9356dc 100%);
  }
  #indexOperation .operation_title {
    padding: 0 1em;
  }
  #indexOperation .operation_container {
    padding: 0;
  }
  #indexOperation .operation_container .operation_thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f6f6;
    margin: 1em;
    padding: 1em;
    border-radius: 1.3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    font-weight: bold;
  }
  #indexOperation .operation_container .operation_thumbnail .number {
    background-color: #9356DC;
    color: #fff;
    width: 1.6rem;
    height: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-left: -1.5rem;
    margin-right: 0.8rem;
    font-size: 1.2rem;
  }
  #indexOperation .operation_container .operation_thumbnail i {
    padding-right: 1rem;
    color: #747474;
  }
  #indexOperation .operation_container .operation_thumbnail:hover i {
    color: #9356DC;
  }
  .restaurant_title {
    padding-left: 1em;
  }
  .restaurant_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .restaurant_container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em 1em;
    -webkit-box-shadow: 3px 8px 8px #dedada;
            box-shadow: 3px 8px 8px #dedada;
    min-height: 300px;
    max-height: 390px;
    border-radius: 1em;
  }
  .restaurant_container a .cardNew {
    position: absolute;
    right: 40px;
    color: #1b6150;
    background-color: #99e2d0;
    padding: 0.5em;
    font-size: 1.2em;
  }
  .restaurant_container a .imgrestoindex {
    min-height: inherit;
    max-height: inherit;
    border-radius: inherit;
  }
  .restaurant_container a .imgrestoindex .indexImg {
    min-height: 300px;
    max-height: 300px;
  }
  .restaurant_container a .descriptionCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .restaurant_container a .descriptionCard .cardContent {
    width: 80%;
    padding: 1em;
    line-height: 0;
  }
  .restaurant_container a .descriptionCard .cardHeart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    position: relative;
    font-size: 2em;
  }
  .restaurant_container a .descriptionCard i {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .restaurant_container a .descriptionCard .full_heart {
    opacity: 0;
  }
  .restaurant_container a .descriptionCard .cardHeart:hover {
    -webkit-animation: all;
            animation: all;
  }
  .restaurant_container a .descriptionCard .cardHeart:hover .far {
    opacity: 0.5;
  }
  .restaurant_container a .descriptionCard .cardHeart:hover .full_heart {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 1;
    background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 2em !important;
  }
  #indexHeader #indexTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Shrikhand', cursive;
    margin: auto;
    height: 1.5em;
    padding-top: .5em;
  }
  #indexNavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 1em;
    font-size: 1.5em;
  }
  #indexNavigation #indexLocation {
    border-top: 3px solid #dbdbdb;
    background-color: #ebebeb;
    padding: 10px 0;
  }
  #indexNavigation #indexLocation #location {
    background-color: inherit;
    border: none;
    width: 190px;
  }
  #indexNavigation #indexLocation #location::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location:-ms-input-placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location::-ms-input-placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location::placeholder {
    color: black;
    font-weight: bold;
  }
  #indexNavigation #indexLocation #location:focus {
    outline: none;
  }
  #indexNavigation .indexButton {
    padding: 1em;
  }
  #indexOperation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 2em 0;
    font-size: 1.4em;
  }
  #indexOperation .operation_title {
    font-size: 2em;
    margin: auto;
  }
  .operation_container {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    gap: 2em;
  }
  .operation_container .operation_thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f6f6;
    padding: 3em;
    border-radius: 1.3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    font-weight: bold;
  }
  .operation_container .operation_thumbnail .number {
    background-color: #9356DC;
    color: #fff;
    width: 1.6rem;
    height: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-left: -1.5rem;
    margin-right: 0.8rem;
    font-size: 1.2rem;
  }
  .operation_container .operation_thumbnail i {
    padding-right: 1rem;
    color: #747474;
  }
  .operation_container .operation_thumbnail:hover {
    background-color: #ebe1fa;
  }
  .operation_container .operation_thumbnail:hover i {
    color: #9356DC;
  }
  #indexRestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 25em;
  }
  #indexRestaurant .restaurant_title {
    font-size: 3em;
  }
  .restaurant_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurant_container a {
    width: 500px;
    max-height: 440px;
    min-height: 440px;
    margin: 2em;
    position: relative;
    border-radius: 30px;
    -webkit-box-shadow: 3px 8px 8px #dedada;
            box-shadow: 3px 8px 8px #dedada;
  }
  .restaurant_container a .cardNew {
    position: absolute;
    color: #217460;
    background-color: #99e2d0;
    left: 387px;
    font-size: 1.5em;
    padding: 0.3em;
  }
  .restaurant_container a .imgrestoindex {
    max-width: 500px;
    max-height: 330px;
    min-width: 500px;
    min-height: 330px;
    overflow: hidden;
    margin: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .restaurant_container a .imgrestoindex img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurant_container a .descriptionCard {
    font-size: 1.5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% 20%;
        grid-template-columns: 80% 20%;
    line-height: 0;
    padding: .5em 1em;
  }
  .restaurant_container a .descriptionCard .cardHeart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    font-size: 2em;
  }
  .restaurant_container a .descriptionCard i {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .restaurant_container a .descriptionCard .full_heart {
    opacity: 0;
  }
  .restaurant_container a .descriptionCard .cardHeart:hover {
    -webkit-animation: all;
            animation: all;
  }
  .restaurant_container a .descriptionCard .cardHeart:hover .far {
    opacity: 0.5;
  }
  .restaurant_container a .descriptionCard .cardHeart:hover .full_heart {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 1;
    background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
/*# sourceMappingURL=style.css.map */